<!DOCTYPE html>
<html lang="en">
  <!-- THE HEAD TAG PARTIAL -->
  <%- include("../partials/head") %>

  <body>
    <header>
      <div class="navbar">
        <a href="/"> Back Home</a>
      </div>
    </header>

    <section class="hero">
      <div class="hero-body">
        <p class="title is-1">Welcome Back!</p>
      </div>
    </section>

    <main>
      <h1 class="subtitle is-4"><strong>User Login</strong></h1>
      <form action="/auth/login" method="post">
        Username:
        <input type="text" placeholder="username" name="username" />
        <br />
        Password:
        <input type="password" placeholder="password" name="password" />
        <br />
        <input type="submit" value="Login" />
      </form>
    </main>
    <!-- THE HEAD TAG PARTIAL -->
    <%- include("../partials/footer") %>
  </body>
</html>
