<!DOCTYPE html>
<html lang="en">
  <!-- THE HEAD TAG PARTIAL -->
  <%- include("../partials/head") %>

  <body>
    <header>
      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="/topics">Inspiration App</a>
          </div>
          <ul class="nav navbar-nav">
            <li><a href="/"> Back Home</a></li>
          </ul>
        </div>
      </nav>
    </header>

    <section class="hero">
      <div class="hero-body">
        <p class="title is-1 has-text-white">Welcome!</p>
      </div>
    </section>
    <main>
      <h1 class="subtitle is-2 has-text-white">User Sign Up</h1>
      <form action="/auth/signup" method="post">
        <p class="has-text-white">Username:</p>
        <input type="text" placeholder="username" name="username" />
        <br />
        <p class="has-text-white">Password:</p>
        <input type="password" placeholder="password" name="password" />
        <br />
        <input type="submit" value="Sign Up" class="submit-button" />
      </form>
    </main>
    <!-- THE HEAD TAG PARTIAL -->
    <%- include("../partials/footer") %>
  </body>
</html>
