<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>Inspiration App</strong> by
      <a href="https://jgthms.com">Dezerey Escanuelas</a>
    </p>
  </div>
</footer>
