<!DOCTYPE html>
<html lang="en">
  <!-- THE HEAD TAG PARTIAL -->
  <%- include("partials/head") %>

  <body>
    <header>
      <div class="navbar">
        <a href="/userpage"><%= username %>'s Page</a>
        /
        <a href="/topics"> Topics Page</a>
        /
        <a href="/auth/logout">Logout</a>
      </div>
    </header>

    <main></main>
  </body>

  <!-- THE HEAD TAG PARTIAL -->
  <%- include("partials/footer") %>
</html>
