<!DOCTYPE html>
<html lang="en">
  <!-- THE HEAD TAG PARTIAL -->
  <%- include("partials/head") %>

  <body>
    <header>
      <section class="hero">
        <div class="hero-body">
          <p class="title">Inspiration App</p>
          <p class="subtitle">
            An app where you can find inspiration to start projects and learn
            new ideas that can keep you going to achieve your goals.
          </p>
        </div>
      </section>
    </header>
    <main>
      <h1><strong>Welcome to the Inspiration App!</strong></h1>
      <a href="/auth/signup"><button class="button">SIGN UP</button></a>
      <a href="/auth/login"><button class="button">LOGIN</button></a>
    </main>
    <!-- THE HEAD TAG PARTIAL -->
    <%- include("partials/footer") %>
  </body>
</html>
