<!DOCTYPE html>
<html lang="en">
  <!-- THE HEAD TAG PARTIAL -->
  <%- include("partials/head") %>

  <body>
    <header>
      <section class="hero">
        <div class="hero-body">
          <p class="title is-1 has-text-white" id="welcome-page">
            Welcome to the Inspiration App!
          </p>
        </div>
      </section>
    </header>

    <main>
      <a href="/auth/signup"
        ><button class="button-welcome-page">SIGN UP</button></a
      >
      <br />
      <a href="/auth/login"
        ><button class="button-welcome-page">LOGIN</button></a
      >
    </main>

    <!-- THE FOOTER TAG PARTIAL -->
    <%- include("partials/footer") %>
  </body>
</html>
