<!DOCTYPE html>
<html lang="en">
  <!-- THE HEAD TAG PARTIAL -->
  <%- include("../partials/head") %>

  <body>
    <header>
      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="/topics">Inspiration App</a>
          </div>
          <ul class="nav navbar-nav">
            <li><a href="/"> Back Home</a></li>
          </ul>
        </div>
      </nav>
    </header>

    <section class="hero">
      <div class="hero-body">
        <p class="title is-1 has-text-white">Welcome Back!</p>
      </div>
    </section>

    <main>
      <h1 class="subtitle is-2 has-text-danger">username does not exist</h1>
    </main>
    <!-- THE HEAD TAG PARTIAL -->
    <%- include("../partials/footer") %>
  </body>
</html>
