<!DOCTYPE html>
<html lang="en">
  <!-- THE HEAD TAG PARTIAL -->
  <%- include("../partials/head") %>

  <body>
    <h1>New Post Form</h1>

    <form id="form" action="/userpage" method="post">
      Title:
      <input type="text" placeholder="title" name="title" />
      <br />
      Image
      <input type="text" placeholder="url" name="image" />
      <br />
      Description
      <input type="text" placeholder="description" name="body" />
      <br />
      Topic
      <input type="text" placeholder="topic" name="topic" />
      <br />
      <input type="submit" placeholder="create product" />
    </form>
  </body>

  <!-- THE HEAD TAG PARTIAL -->
  <%- include("../partials/footer") %>
</html>
